# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# ML model files
*.pkl
*.joblib

# Dataset files
*.csv

# Environment variables
.env
.env.*

# Node.js / React
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

Implementation signed pdf/